*{
    margin: 0;
    padding: 0;
}
header{
   position: relative;
    background-color: red;
    height: 400px;
    
}
header h1{
    text-align: center;
    font-size: 40px;
   padding-top: 150px;
}
main h2{
margin-left: 48px;
margin-top: 10px;
}
main p{
    margin-left: 48px;
    margin-top: 10px;
}
main img{
    margin-left: 50px;
    margin-right: 50px;
    width: 1150px;
    height: 400px;
    margin-top: 20px;
}
footer div{
    background-color: gainsboro;
}
footer div img{
    height: 180px;
    margin-left: 48px;
    margin-top: 20px;
    width: 50%;

}
footer div h3{
    margin-left: 48px;
}
div p{
    margin-right: 50px;
}
footer div h1{
    margin-top: 25px;
}

footer{
    float: left;
    display: flex;
}

footer div p{
    margin-left: 20px;
}

footer div button{
    margin-left: 20px;
    border-radius: 25px;
    height: 2em;
    width: 5em;
}